
.backimage {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp39Gpbz4TrS7z6HRVsKodid6yAZjXpXm1uQ&usqp=CAU");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    image-rendering: auto;
}


.keys {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30%;
  }

.keys1 {
    border-radius: 7px;
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: auto;
    background-color: grey;
    color: black;
    
  }
